  /* color: #060ce9; dark blue */
  /* color:#115ff4; light blue */
  /* color: #28a200; lime green */
  /* color: #8d2ab5; lighter purple */
  /* color: #74119c; purple */
  h1 {
    font-size: 10rem;
    text-align: center;
  }
  .btn {
    cursor: pointer;
    font-size: 5rem;
    border-radius: 10px;
    background-color: #060ce9;
    color: white;
   }
   .btn-holder {
    text-align: center;
   }
  .card-modal {
    opacity: 0;
    pointer-events:none;
    transition: opacity 1.5s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #060ce9;
    position: fixed;
    font-size: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
 }
 .card-modal.visible {
    opacity: 1;
    pointer-events:initial;
 }
 .card-modal-header {
  margin-bottom: 20vh;
 }
 .card-modal-body {
  margin-bottom: 15vh
 }
 .card-modal-footer {
  color: red;
  font-weight: 600;
 }
 .card-modal-inner {
  height: 75vh;
  border: 2px solid black;
  cursor: pointer;
 }
 .hidden {
  display: none;
 }
.container {
  display: flex;
  height: 200px;
  width: 100vw;
  position: absolute;
  top: 10%;
  left: 47%

}
.center {
  margin: 0;
  position: absolute;
  cursor: pointer;
}

